/*============= common  style ============ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Slab&display=swap');

body {
    background-color: #f1f0f0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

/*================ top banner style ================ */

.top-banner {
    display: flex;
    margin-top: 55px;
}

.top-banner .top-banner-info {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 15px;
}

.top-banner-info h1 {
    font-size: 52px;
    margin-bottom: 20px;
}

.top-banner-info p {
    font-size: 16p;
}

.top-banner-info button {
    background-color: #E02C6D;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    margin-top: 20px;
}

.top-banner-info i {
    vertical-align: middle;
    margin-left: 5px;
}

.top-banner .top-banner-image {
    width: 50%;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
}

.top-banner-image img {
    width: 60%;
    display: block;
    margin: auto;
}

/*=========== brand logo section style ============= */

.logo-section {
    margin: 100px 2%;
}

.logo-section hr {
    border-top: 1px solid rgb(223, 218, 218);
}

.brand-logo {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

/*================= products section style ===================== */
.product-section h2 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 50px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 2px rgb(226, 221, 221);
}

.product img {
    width: 100%;
}

.product h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.product .rate {
    font-size: 24px;

}

.product p i {
    font-size: 16px;
    color: orange;
}

.product .last {
    color: #c5c3c3;
}

.product p span {
    font-size: 16px;
}

.product p {
    font-size: 17px;
    margin: 10px 0;
}

.product-section .button {
    text-align: right;
    margin-top: 30px;
}

.button button {
    border: none;
    color: #E02C6D;
    font-weight: bold;
    cursor: pointer;
}

/*=============== feature product section style =============== */

.featured-product {
    display: flex;
    margin: 80px 0;
}

.featured-product .image {
    width: 50%;
}

.image img {
    width: 80%;
}

.featured-product .info {
    width: 50%;
    display: flex;
    align-items: center;
}

.info h2 {
    font-size: 38px;
}

.info button {
    border: none;
    background-color: #E02C6D;
    font-weight: bold;
    cursor: pointer;
    color: white;
    padding: 12px 22px;
}

button i {
    vertical-align: middle;
}

/*================= footer section style ============= */

.footer {
    background-color: #0a0826;
}

.footer .footer-info {
    color: white;
    text-align: center;
    padding: 30px 0;
}

.footer-info h3 {
    font-size: 24px;
}

.footer-info a {
    color: white;
    margin-left: 15px;
}

/*======================= responsive by media quarey====================== */


/*================== responsive for mobile ================= */

@media only screen and (max-width: 576px) {
    .container {
        width: 98%;
    }

    /*============== top banner section============== */
    .top-banner {
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .top-banner .top-banner-image {
        width: 100%;

    }

    .top-banner-image img {
        width: 100%;
    }


    .top-banner .top-banner-info {
        width: 100%;
        text-align: center;
    }

    .top-banner-info h1 {
        font-size: 32px;
        margin-bottom: 0px;
    }

    .top-banner-info button {
        margin: 0;
    }

    /* ========logo section ========= */
    .logo-section {
        margin: 20px 2%;
    }

    .brand-logo {
        flex-wrap: wrap;
    }

    .brand-logo img {
        width: 20%;
        margin: 7px 7px;

    }

    /*============ products section ========== */
    .products {
        grid-template-columns: repeat(1, 1fr);
    }

    .product-section h2 {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    /*=========== featured product ============ */
    .featured-product {
        flex-direction: column-reverse;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .featured-product .image {
        width: 100%;
        margin-top: 30px;
    }

    .image img {
        width: 100%;

    }

    .featured-product .info {
        width: 100%;
        text-align: center;
    }

    .featured-product .info h2 {
        font-size: 32px;
    }
}

/*======================= responsive for tablet ===================== */
@media only screen and (min-width: 577px) and (max-width:992px) {
    .container {
        width: 98%;
    }

    /*========= top banner section ========= */
    .top-banner {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .top-banner .top-banner-image {
        width: 100%;

    }

    .top-banner-image img {
        width: 80%;
    }


    .top-banner .top-banner-info {
        width: 100%;
        display: block;
        text-align: center;
    }

    .top-banner-info h1 {
        font-size: 50px;
        margin-bottom: 0px;
    }

    .top-banner-info button {
        margin-top: 20px;
    }

    /*============ logo section ============= */

    .logo-section {
        margin: 20px 2%;
    }

    .brand-logo {
        flex-wrap: wrap;
    }

    .brand-logo img {
        margin: 4px 4px;

    }

    /*============ products section ========== */
    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-section h2 {
        font-size: 38px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    /*=========== featured product ============ */
    .featured-product {
        flex-direction: column-reverse;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    .featured-product .image {
        width: 100%;
        margin: 40px 0;
    }

    .image img {
        width: 100%;

    }

    .featured-product .info {
        width: 100%;
        text-align: center;
    }

    .featured-product .info button {
        margin-top: 20px;
    }

    .featured-product .info h2 {
        font-size: 38px;
    }
}